/* Footer */
* {
  margin: 0;
  padding: 0;
}

.db_footerContainer {
  height: 400px;
  position: static;
  bottom: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.db_footer-bar {
  background-color: #0046be;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.db_footerBarContents {
  display: flex;
  align-items: center;
  flex-basis: auto;
  justify-content: space-evenly;
  color: #fff200;
  font-size: 20px;
  font-weight: 700;
}

.db_lowerCenterFooter {
  background-color: #f4f6f9;
  margin: 0;
  padding: 0;
  height: 350px;
}

.db_lowerCenterFooterContents {
  height: 250px;
  margin-left: 250px;
  margin-right: 250px;
}

.db_footerLists {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: #0046be;
}

.db_footerList {
  font-weight: 300;
  font-size: 15px;
  list-style-type: none;
  height: auto;
}

.db_col1 {
  flex: 1;
  order: 1;
  margin-bottom: 1%;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.db_col2 {
  flex: 1;
  order: 2;
  margin-bottom: 1%;
  margin-top: 1%;
}

.db_col3 {
  flex: 1;
  order: 3;
  margin-bottom: 1%;
  margin-top: 1%;
}

.db_col4 {
  flex: 1;
  order: 4;
  margin-bottom: 1%;
  margin-top: 1%;
}

.db_row1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0046be;
  font-weight: 300;
  font-size: 13px;
}

.db_row2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: grey;
  font-weight: 300;
  font-size: 13px;
}

.db_socialMediaIcons {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.db_col1_row1 {
  margin: 5px;
}

.db_col1_row2 {
  margin: 5px;
}

.db_col2_row1 {
  margin: 5px;
}

.db_col2_row2 {
  margin: 5px;
}

.db_col3_row1 {
  margin: 5px;
}

.db_col4_row1 {
  margin: 5px;
}

.db_col4_row2 {
  margin: 5px;
}

#db_email_input {
  border-radius: 5px;
  border: none;
  box-shadow: none;
  padding:5px 15px;
}

#db_signup {
  background:#fff200;
  border-radius: 3px;
  padding:5px 15px;
  border: 0 none;
  width: 100px;
  height: 39px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 15px;
}
